.do-container {
    position: relative;
}

.do-elli {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
}

.do-main {
    max-width: 808px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    &-sub {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 30px;
    }

    &-title {
        font-weight: 600;
        font-size: 45px;
        margin-bottom: 80px;
    }

    &-list {
        display: flex;
        gap: 40px;
    }

    &-card {
        max-width: 384px;
        padding: 40px 30px;
        text-align: left;
        border-radius: 5px;
        border: 1px solid #EDEDED;
        transition: all 0.3s ease-in-out;
    }

    &-card-title {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
    }

    &-card-title p {
        font-size: 22px;
        font-weight: 600;
        color: $black;
    }

    &-card-content {
        font-size: 18px;
        color: $light-black;
        text-align: left;
        margin-bottom: 30px;
    }

    &-card-link {
        color: $light-black;
        font-size: 18px;
        text-decoration: underline;
        text-align: left;
    }

    &-card:hover {
        box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
        border-radius: 5px;
    }

    &-card:hover .do-main-card-link {
        color: $green;
    }

    &-lists {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 80px;
    }

    &-btn {
        @include btn-green();
        box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
    }
}